<h2>Welcome to the Grocery Store Owner Dashboard</h2>
<p>
    <a href="{% url 'logout' %}">Logout</a>
</p>
<p>
    <a href="{% url 'manage_product_list' %}">Update Item List</a>
</p>

<h2>Manage Orders</h2>
<a href="{% url 'manage_grocery_orders' %}">View and Manage Orders</a>

<!-- Separate form for toggling visibility -->
<h3>Visibility Settings</h3>
<form method="POST" action="{% url 'toggle_grocery_visibility' %}">
    {% csrf_token %}
    <p>
        <label for="is_visible">Visible to Customers:</label>
        <input type="checkbox" name="is_visible" id="is_visible" {% if grocery_store.is_visible %}checked{% endif %}>
    </p>
    <button type="submit">Update Visibility</button>
</form>

{% if grocery_store %}
    <h4>Current Information:</h4>
    <p><strong>Name:</strong> {{ grocery_store.name }}</p>
    <p><strong>Phone:</strong> {{ grocery_store.phone }}</p>
    <p><strong>Address:</strong> {{ grocery_store.address }}</p>
    <p><strong>Type:</strong> {{ grocery_store.store_type }}</p>
    {% if grocery_store.logo %}
        <img src="{{ grocery_store.logo.url }}" alt="Store Logo" style="max-width: 200px;">
    {% endif %}
{% endif %}

<h3>Edit Store Information</h3>
<form method="POST" enctype="multipart/form-data" action="{% url 'edit_grocery_info' %}">
    {% csrf_token %}
    {{ form.as_p }}


    <button type="submit">Save</button>
</form>


